/*=================================================================================
    Footer
====================================================================================*/

footer.page-footer {
  padding-top: 0px;
  position: relative!important;
  bottom: 0;
  width: 100%;
/*----------------------------------------
    footer charts
------------------------------------------*/